aiohttp==3.8.1
aioredis==1.3.1
aiosignal==1.2.0
altgraph==0.17.2
argparse==1.4.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.7.1
Automat==20.2.0
certifi==2022.5.18.1
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
colorlog==6.6.0
constantly==15.1.0
cryptography==37.0.4
daphne==3.0.2
dateparser==1.1.1
dictdiffer==0.9.0
docopt==0.6.2
docstring-parser==0.14.1
et-xmlfile==1.1.0
Flask==2.2.2
frozenlist==1.3.0
future==0.18.2
gmpy2==2.1.2
hiredis==2.0.0
hyperlink==21.0.0
incremental==21.3.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsoncomparison==1.1.0
jsondiff==2.0.0
MarkupSafe==2.1.1
msgpack==1.0.4
multidict==6.0.2
numpy==1.23.2
openpyxl==3.0.10
pandas==1.4.4
pathlib==1.0.1
pefile==2022.5.30
Pillow==9.2.0
pip==22.2.2
pipreqs==0.4.11
psycopg2==2.9.3
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.21
pyinstaller-hooks-contrib==2022.10
pyinstaller==5.3
pyOpenSSL==22.0.0
pystray==0.19.4
python-dateutil==2.8.2
pytz-deprecation-shim==0.1.0.post0
pytz==2022.2.1
pywin32-ctypes==0.2.0
regex==2022.3.2
requests==2.27.1
scapy==2.4.5
service-identity==21.1.0
setuptools==58.1.0
six==1.16.0
sqlparse==0.4.2
twisted-iocpsupport==1.0.2
Twisted==22.4.0
txaio==22.2.1
typing-extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
ujson==5.4.0
urllib3==1.26.9
websocket-client==1.3.2
websockets==10.3
Werkzeug==2.2.2
wget==3.2
XlsxWriter==3.0.3
yarg==0.1.9
yarl==1.7.2
zope.interface==5.4.0
